*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    line-height: 1.2;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


.font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#header {
    width: 100vw;
    max-width: 700px;
    margin: 12px auto 0px auto;

    text-align: center;
}

#header-logo {
    width: 80%;
    margin: 12px auto 12px auto;
}

#header-title {
    margin: auto;
    max-width: 80%;

    font-weight: 400;
    font-size: 32px;
}

#footer {
    position: absolute;
    bottom: 0;
    margin: 0px auto 12px auto;

    text-align: center;
}

#footer-text {
    width: 100vw;
    margin: auto;

    font-weight: 300;
    font-size: 12px;
}
