*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    line-height: 1.2;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


.font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    min-height: 100vh;
    min-width: 100vw;

    padding: 24px 0 0 0;

    background:
        radial-gradient(circle at top left, #c0e8a5 40%, transparent calc(40% + 1px)),
        radial-gradient(circle at bottom right, #ddff9f 40%, #fffafa calc(40% + 1px));
}

#header {
    width: 100vw;
    max-width: 700px;
    margin: 12px auto 12px auto;

    text-align: center;
}

#header-logo {
    width: 80%;
    margin: 24px auto 24px auto;
}

#header-title {
    margin: 36px auto 36px auto;
    max-width: 80%;

    font-weight: 500;
    font-size: 32px;
}

#footer {
    position: absolute;
    bottom: 0;
    margin: 12px auto 12px auto;

    text-align: center;
}

#footer-text {
    width: 100vw;
    margin: auto;

    color: #252525;

    font-weight: 400;
    font-size: 12px;
}
